<!DOCTYPE html>
<html lang="en" ng-app="mongofyApp">
<head>
    <meta charset="UTF-8">
    <title>Mongofy</title>
    <script src="static\js\app.js"></script>
    <link rel="stylesheet" href="static\css\styles.css">
    
    
</head>
<body ng-controller="MainController" ng-class="{'dark-mode': darkMode}">
    <header>
        <h1>Mongofy</h1>
        <button ng-click="toggleTheme()">
            <span ng-if="!darkMode">&#9728; Light Mode</span>
            <span ng-if="darkMode">&#9790; Dark Mode</span>
        </button>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th ng-click="sortColumn('Track Name')">Titolo</th>
                    <th ng-click="sortColumn('Artist Name')">Artista</th>
                    <th ng-click="sortColumn('Genres')">Generi</th>
                    <th ng-click="sortColumn('duration_ms')">Durata</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="song in songs | orderBy:currentSort:reverseSort | limitTo:(currentPage + 1) * 20">
                    <td ng-bind="song['Track Name']"></td>
                    <td ng-bind="song['Artist Name']"></td>
                    <td ng-bind="song.Genres.join(', ')"></td>
                    <td ng-bind="formatDuration(song.duration_ms)"></td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <button ng-disabled="currentPage == 0" ng-click="prevPage()">Previous</button>
            <span ng-bind="'Page ' + (currentPage + 1)"></span>
            <button ng-disabled="(currentPage + 1) * 20 >= songs.length" ng-click="nextPage()">Next</button>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
