<!DOCTYPE html>
<html lang="en" ng-app="mongofyApp">
<head>
    <meta charset="UTF-8">
    <title>Mongofy</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script src="/static/js/spotifyService.js"></script>
    <script src="/static/js/app.js"></script>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body ng-controller="MainController" ng-class="{ 'dark-mode': darkMode }">
    <header class="flex justify-between items-center mb-4 bg-green-500 text-white p-4 rounded" ng-click="reloadPage()">
        <h1 class="text-3xl cursor-pointer" onclick="window.location.reload()">Mongofy</h1>
        <div class="flex items-center">
            <select ng-model="searchType" class="form-control inline-block w-auto rounded p-2 mr-2">
                <option value="genre">Genere</option>
                <option value="title">Titolo</option>
                <option value="artist">Artista</option>
            </select>
            <input type="text" ng-model="searchQuery" class="form-control inline-block w-auto rounded p-2 mr-2 search-bar" placeholder="Cerca..." ng-keypress="handleKeyPress($event)">
            <button ng-click="searchSongs()" class="btn text-white p-2 rounded mr-2">Cerca</button>
            <button ng-click="toggleTheme()" class="btn text-white p-2 rounded">
                <span ng-if="!darkMode">&#9790;</span>
                <span ng-if="darkMode">&#9728;</span>
            </button>
        </div>
    </header>
    <main>
        <table class="table-auto w-full bg-white shadow-md rounded">
            <thead>
                <tr class="bg-gray-200">
                    <th ng-click="sortColumn('TrackName')" class="sortable p-2 cursor-pointer" ng-class="{'asc': currentSort === 'TrackName' && !reverseSort, 'desc': currentSort === 'TrackName' && reverseSort}">Titolo</th>
                    <th ng-click="sortColumn('ArtistName')" class="sortable p-2 cursor-pointer" ng-class="{'asc': currentSort === 'ArtistName' && !reverseSort, 'desc': currentSort === 'ArtistName' && reverseSort}">Artista</th>
                    <th ng-click="sortColumn('Genres')" class="sortable p-2 cursor-pointer" ng-class="{'asc': currentSort === 'Genres' && !reverseSort, 'desc': currentSort === 'Genres' && reverseSort}">Generi</th>
                    <th ng-click="sortColumn('duration_ms')" class="sortable p-2 cursor-pointer" ng-class="{'asc': currentSort === 'duration_ms' && !reverseSort, 'desc': currentSort === 'duration_ms' && reverseSort}">Durata</th>
                    <th ng-click="sortColumn('Popularity')" class="sortable p-2 cursor-pointer" ng-class="{'asc': currentSort === 'Popularity' && !reverseSort, 'desc': currentSort === 'Popularity' && reverseSort}">Popolarità</th>
                    <th ng-click="sortColumn('danceability')" class="sortable p-2 cursor-pointer" ng-class="{'asc': currentSort === 'danceability' && !reverseSort, 'desc': currentSort === 'danceability' && reverseSort}">Ballabilità</th>
                    <th ng-click="sortColumn('energy')" class="sortable p-2 cursor-pointer" ng-class="{'asc': currentSort === 'energy' && !reverseSort, 'desc': currentSort === 'energy' && reverseSort}">Energia</th>
                    <th ng-click="sortColumn('speechiness')" class="sortable p-2 cursor-pointer" ng-class="{'asc': currentSort === 'speechiness' && !reverseSort, 'desc': currentSort === 'speechiness' && reverseSort}">Speechiness</th>
                    <th ng-click="sortColumn('instrumentalness')" class="sortable p-2 cursor-pointer" ng-class="{'asc': currentSort === 'instrumentalness' && !reverseSort, 'desc': currentSort === 'instrumentalness' && reverseSort}">Instrumentalità</th>
                    <th ng-click="sortColumn('valence')" class="sortable p-2 cursor-pointer" ng-class="{'asc': currentSort === 'valence' && !reverseSort, 'desc': currentSort === 'valence' && reverseSort}">Valenza</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="song in songs | orderBy:currentSort:reverseSort | limitTo:20:(currentPage * 20)">
                    <td class="p-2">
                        <a href="#" ng-click="openPopup(song)" class="track-title">{{song['TrackName']}}</a>
                    </td>
                    <td class="p-2" ng-bind="song['ArtistName']"></td>
                    <td class="p-2" ng-bind="song.Genres.join(', ')"></td>
                    <td class="p-2" ng-bind="formatDuration(song.duration_ms)"></td>
                    <td class="p-2">
                        <div class="relative pt-1">
                            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-red-200">
                                <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500" ng-style="{'width': song.Popularity + '%'}"></div>
                            </div>
                        </div>
                    </td>
                    <td class="p-2">
                        <div class="relative pt-1">
                            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200">
                                <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500" ng-style="{'width': (song.danceability * 100) + '%'}"></div>
                            </div>
                        </div>
                    </td>
                    <td class="p-2">
                        <div class="relative pt-1">
                            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-yellow-200">
                                <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-yellow-500" ng-style="{'width': (song.energy * 100) + '%'}"></div>
                            </div>
                        </div>
                    </td>
                    <td class="p-2">
                        <div class="relative pt-1">
                            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-green-200">
                                <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500" ng-style="{'width': (song.speechiness * 100) + '%'}"></div>
                            </div>
                        </div>
                    </td>
                    <td class="p-2">
                        <div class="relative pt-1">
                            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-blue-200">
                                <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-blue-500" ng-style="{'width': (song.instrumentalness * 100) + '%'}"></div>
                            </div>
                        </div>
                    </td>
                    <td class="p-2">
                        <div class="relative pt-1">
                            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-indigo-200">
                                <div class ="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500" ng-style="{'width': (song.valence * 100) + '%'}"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-center items-center mt-4 space-x-4">
            <button class="btn bg-green-500 text-white p-2 rounded" ng-click="firstPage()">Prima pagina</button>
            <button class="btn bg-green-500 text-white p-2 rounded" ng-click="prevPage()">Precedente</button>
            <div class="flex items-center space-x-2">
                <button class="btn p-2 rounded"
                        ng-repeat="page in getPages()"
                        ng-click="setPage(page)"
                        ng-class="{
                            'bg-green-500 text-white': currentPage === page,
                            'bg-gray-200': currentPage !== page
                        }">{{ page + 1 }}</button>
            </div>
            <button class="btn bg-green-500 text-white p-2 rounded" ng-click="nextPage()">Successiva</button>
            <button class="btn bg-green-500 text-white p-2 rounded" ng-click="lastPage()">Ultima pagina</button>
        </div>
    </main>

    <div id="songModal" class="modal" ng-show="isModalOpen">
        <div class="modal-content">
            <span class="close" ng-click="closeModal()">&times;</span>
            <div class="modal-body">
                <div class="album-cover-container">
                    <img ng-src="{{selectedSong.album_cover_url}}" alt="Album Cover" class="album-cover">
                </div>
                <div class="song-details">
                    <h2><a href="#" ng-click="openPopup(song)" class="track-title">{{selectedSong.TrackName}}</a></h2>
                    <p><strong>Artista:</strong> {{selectedSong.ArtistName}}</p>
                    <p><strong>Generi:</strong> {{selectedSong.Genres.join(', ')}}</p>
                    <p><strong>Durata:</strong> {{formatDuration(selectedSong.duration_ms)}}</p>
                    <div class="progress-bar-container" ng-repeat="(key, value) in songAttributes">
                        <div class="progress-bar-label">{{ key }}</div>
                        <div class="progress-bar">
                            <div class="progress-bar-fill" ng-style="{'background-color': getColor(key), 'width': (value * 100) + '%'}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-buttons">
                <button class="btn btn-heart" ng-click="toggleFavorite(selectedSong)"><i class="fa fa-heart"></i></button>
                <button class="btn btn-play"><i class="fa fa-play"></i></button>
            </div>
        </div>
    </div>
    
</body>
</html>
